#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    backdrop-filter: blur(5px);
    z-index: 9999; /* Asegura que el loader se muestre por encima de otros elementos */
}
#loader p {
    display: flex;
    justify-content: center;
    align-items: center;
}