{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Carrito - Rockstar Games</title>
  <link rel="icon" href="{% static 'img/red_dead_redemption_icon_249859.ico' %}" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="{% static 'css/cart.css' %}" rel="stylesheet">
  <script src="{% static 'js/jquery-3.7.1.js' %}"></script>
  <script>
    $(document).ready(function() {
      var isDollar = true; // Estado inicial: los precios están en dólares
      var exchangeRate = 926; // Tasa de cambio de dólares a pesos chilenos

      $('#convertToPesos').click(function() {
        // Obtén la tasa de cambio actual de la API
        $.getJSON('https://mindicador.cl/api', function(data) {
          exchangeRate = data.dolar.valor;

          $('.pesoschilenos').each(function() {
            var price = parseFloat($(this).text().replace('$', '').replace(' CLP', ''));
            if (isDollar) {
              // Si los precios están en dólares, conviértelos a pesos chilenos
              var priceInPesos = Math.round(price * exchangeRate);
              $(this).text('$' + priceInPesos + ' CLP');
            } else {
              // Si los precios están en pesos chilenos, conviértelos a dólares
              var priceInDollars = Math.round(price / exchangeRate);
              $(this).text('$' + priceInDollars);
            }
          });

          // Cambiar el estado
          isDollar = !isDollar;
        }).fail(function() {
          console.log('Error al consumir la API!');
        });
      });
    });
  </script>
</head>
<body>
  <section class="h-100%">
    <div class="container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">
          <div class="d-flex justify-content-between align-items-center mb-4 ">
            <h3 class="fw-normal mb-0 text-light">Carrito</h3>
            <button id="convertToPesos" class="btn btn-primary">Convertir a pesos</button>
          </div>

          <!-- Producto 1 -->
          <div class="card rounded-3 mb-4 " style="background-color: black;">
            <div class="card-body p-4">
              <div class="row d-flex justify-content-between align-items-center">
                <div class="col-md-2 col-lg-2 col-xl-2">
                  <img src="{% static 'img/juego-carrito.jpg' %}" class="img-fluid rounded-3" alt="Red Dead Redemption 2">
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3 ">
                  <p class="lead fw-normal mb-2 text-light">Red Dead Redemption 2</p>
                  <p class="text-light">
                    <span class="text-light">Plataforma: </span> Playstation 4 <br>
                    <span class="text-light">Edición: </span> Estándar
                  </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 d-flex">
                  <button class="btn btn-link px-2" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                    <i class="fas fa-minus"></i>
                  </button>
                  <input min="0" name="quantity" value="2" type="number" class="form-control form-control-sm" />
                  <button class="btn btn-link px-2" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                  <h5 class="pesoschilenos text-light">$50 CLP</h5>
                </div>
                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                  <a href="#!" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                </div>
              </div>
            </div>
          </div>

          <!-- Producto 2 -->
          <div class="card rounded-3 mb-4 " style="background-color: black;">
            <div class="card-body p-4">
              <div class="row d-flex justify-content-between align-items-center">
                <div class="col-md-2 col-lg-2 col-xl-2">
                  <img src="{% static 'img/portada-red-dead.jpg' %}" class="img-fluid rounded-3" alt="Red Dead Redemption 1">
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3 ">
                  <p class="lead fw-normal mb-2 text-light">Red Dead Redemption 1</p>
                  <p class="text-light">
                    <span class="text-light">Plataforma: </span> Playstation 4 <br>
                    <span class="text-light">Edición: </span> Estándar
                  </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 d-flex">
                  <button class="btn btn-link px-2" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                    <i class="fas fa-minus"></i>
                  </button>
                  <input min="0" name="quantity" value="2" type="number" class="form-control form-control-sm" />
                  <button class="btn btn-link px-2" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                  <h5 class="pesoschilenos text-light">$20 CLP</h5>
                </div>
                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                  <a href="#!" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                </div>
              </div>
            </div>
          </div>

          <!-- Producto 3 -->
          <div class="card rounded-3 mb-4 " style="background-color: black;">
            <div class="card-body p-4">
              <div class="row d-flex justify-content-between align-items-center">
                <div class="col-md-2 col-lg-2 col-xl-2">
                  <img src="{% static 'img/Red_Dead_Revolver_Coverart.jpg' %}" class="img-fluid rounded-3" alt="Red Dead Revolver">
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3 ">
                  <p class="lead fw-normal mb-2 text-light">Red Dead Revolver</p>
                  <p class="text-light">
                    <span class="text-light">Plataforma: </span> Playstation 4 <br>
                    <span class="text-light">Edición: </span> Estándar
                  </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 d-flex">
                  <button class="btn btn-link px-2" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                    <i class="fas fa-minus"></i>
                  </button>
                  <input min="0" name="quantity" value="2" type="number" class="form-control form-control-sm" />
                  <button class="btn btn-link px-2" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                  <h5 class="pesoschilenos text-light">$10 CLP</h5>
                </div>
                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                  <a href="#!" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                </div>
              </div>
            </div>
          </div>

          <!-- Botón de Pagar -->
          <div class="card " style="background-color: black;">
            <div class="card-body">
              <a href="{% url 'checkout' %}" class="btn btn-warning btn-block btn-lg">Pagar</a>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>

  <!-- Scripts de Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
